$blue-500: #3657CB;
$blue-900: #1B2133;
$blue-700: #3B486B;
$white-50: #FFFFFF;
$green-500: #4BCB36;
$green-400: #89CB36;
$red-700: #CB3F36;
$yellow-500: #F2F60F;
$gray-700: #686868;
$gray-500: #6D717D;
$black-300: #1E2538;
$black-900: #100F14;
$black-600: #1B2133;

