@import './reset/reset.css';

@import 'base/mixins';

@font-face {
    font-family: 'Qanelas';
    src: url("../assets/fonts/Qanelas-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../assets/fonts/Qanelas-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../assets/fonts/Qanelas-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: url('../assets/fonts/Qanelas-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
  font-family: 'Qanelas', sans-serif;
}

.wrapper {
  background: url('../assets/img/joker.webp') no-repeat;
  background-color: #1E2538;
  background-position: center calc(0% - 91px);
  position: relative;
}

.container {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.scroll-to-top {
  position: absolute;
  display: fixed;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 73px;
  background-color: $black-900;
  top: 0;
  right: 0;
  margin: 911px 51px 0 0;
  border-radius: 10px;
}





@media (max-width: 1400px) {
    .container {
       max-width: 1000px;
    }
    .scroll-to-top {
      display: none;
    }

}

@media (max-width: 1000px) {
  .container {
    max-width: 850px;
  }
  
}


@media (max-width: 768px) {
  .container {
    max-width: 660px;
  }
}







@import 'blocks/header';
@import 'blocks/cinema';
@import 'blocks/trailer';
@import 'blocks/popular';
@import 'blocks/person';
@import 'blocks/news';
@import 'blocks/novelties';
@import 'blocks/footer';



