.trailer {
    .trailer__title {
        font-size: 65px;
        font-weight: 900;
        line-height: 83px;
        color: $white-50;
    }
    .trailer__text {
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
        color: $white-50;
    }
}