.novelties {
        min-width: 100%;
        background-color: $black-700;
        margin-top: 82px;
        .novelties__wrapper {
            color: $white-50;
            padding-top: 49px;
            .novelties__wrapper-item {
                padding-top: 105px;
                .novelties__navigation {
                    display: grid;
                    grid-template-columns: 0.31fr 0.18fr 0.29fr 0.22fr;
                    grid-template-rows: 1fr;
                    align-items: center;
                    justify-content: space-between;
                    .novelties__title {
                        font-size: 65px;
                        font-weight: 900;
                        line-height: 83px;
                        align-self: center;
                    }
                    .novelties__text_small {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        align-self: center;
                        align-self: center;
                    }
                    .novelties__devider {
                        border: 2px solid $white-50;
                        width: 52px;
                        justify-self: center;
                    }
                    .novelties__nav {
                        display: flex;
                        column-gap: 33px;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22px;
                        justify-self: end;
                        a {
                            color: $gray-500;
                        }
                    }
                }
                .novelties__fees {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 62px;
                    .novelties__fees-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        column-gap: 10px;
                        .novelties__fees-img {
                            height: 141px;
                            object-fit: cover;
                        }
                        .novelties__fees-wrapper {
                            display: grid;
                            align-items: center;
                            row-gap: 6px;
                            width: 256px;
                            .novelties__fees-name {
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 22px;
                            }
                            .novelties__fees-money {
                                color: $yellow-500;
                                font-size: 15px;
                                font-weight: 500;
                                line-height: 18px;
                            }
                            .novelties__fees-earn {
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 17px;
                                color: $gray-500;
                            }
                        }
                    }
                }
            }
            .novelties__wrapper-form {
                margin-top: 95px;
                display: grid;
                align-items: center;
                justify-items: center;
                border-radius: 10px;
                background: 
                    linear-gradient(rgba(29, 58, 160, 0.9), rgba(29, 58, 160, 0.9)), 
                    url('../../assets/img/cosmos.png') center center/cover no-repeat;
                form {
                    margin-top: 34px;
                    padding-bottom: 106px;
                }
                .novelties__logo {
                    font-size: 25px;
                    font-weight: 800;
                    line-height: 31px;
                    padding-top: 76px;
                }
                .novelties__advertisement {
                    font-size: 50px;
                    font-weight: 900;
                    line-height: 64px;
                    padding-top: 53px;
                }
                .novelties__subtitle {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.4;
                    padding-top: 23px;
                    text-align: center;
                }
                .novelties__email {
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 1.6;
                    color: $gray-500;
                    padding: 22px 187px 21px 27px;
                    background-color: $white-50;
                    border-radius: 10px;
                }
                .novelties__subscribe-btn {
                    padding: 21px 38px;
                    border-radius: 10px;
                    background-color: $yellow-500;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.6;    
                    color: $black-700;     
                }
                .novelties__policy {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 1.4%;
                    margin-top: 22px;
                    label {
                        color: $white-50;
                    }
                    #policy {
                        border-radius: 2px;
                    }
                    input[type="checkbox"] {
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        background-color: $white-50;
                        border: 2px solid $white-50;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        position: relative;
                    }

                    input[type="checkbox"]:checked {
                        background-color: $yellow-500;
                        border: 2px solid $yellow-500;
                    }

                    input[type="checkbox"]:checked::before {
                        content: "✔";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 16px;
                        color: #000;
                    }

                    input[type="checkbox"]:focus {
                        outline: none;
                    }
                    a {
                        color: $yellow-500;
                        text-decoration: underline;
                    }
                }
            }

            .novelties__all-new {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .novelties__title {
                    font-size: 65px;
                    font-weight: 900;
                    line-height: 83px;
                }
                .novelties__text {
                        display: flex;
                        column-gap: 24px;
                        align-items: center;
                        justify-content: center;
                }
            }

            .novelties__films {
                padding-top: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 28px;
                .novelties__films-item {
                    display: grid;
                    .novelties__img {
                        width: 100%;
                        height: 484px;
                        object-fit: cover;
                    }
                    .novelties__name {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22px;
                        padding-top: 13px;
                    }
                    .novelties__data {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 1.91;
                        color: $yellow-500;
                    }
                }
            }
        }
}




@media (max-width: 1400px) {
    .novelties {
        .container {
            padding: 0 10px;
            max-width: 1000px;
        }

        .novelties__wrapper  {
            .novelties__films {
                padding-top: 13px;
                border-radius: 10px;
                column-gap: 12px;
                .novelties__films-item {
                    .novelties__img {
                        width: 202.29px;
                        height: 275.91px;
                    }
                }
            }
            .novelties__wrapper-item {
                padding-top: 39px;
                .novelties__navigation {
                    grid-template-columns: 2fr 1fr;
                    row-gap: 8px;
                    .novelties__devider {
                        display: none;
                    }
                    .novelties__nav {
                        align-self: center;
                        justify-self: start;
                    }
                    .novelties__text_small {
                        align-self: center;
                        justify-self: end;
                    }
                }

                .novelties__fees {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 30px;
                    column-gap: 39px;
                    margin-top: 25px;
                }
            }
            
            .novelties__wrapper-form {
                margin-top: 54px;
                form {
                    margin-top: 20px;
                    padding-bottom: 50px;
                }
                .novelties__advertisement {
                    padding-top: 16px;
                }
                .novelties__logo {
                    padding-top: 51px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .novelties {
        .container {
            max-width: 850px;
        }

        .novelties__wrapper {
            .novelties__wrapper-item .novelties__fees .novelties__fees-item .novelties__fees-img {
                width: 80px;
                height: 118px;
            }
            .novelties__wrapper-item {
                .novelties__fees {
                    column-gap: 0px;
                    .novelties__fees-item {
                        column-gap: 4px;
                        .novelties__fees-wrapper {
                            width: 190px;
                            .novelties__fees-name {
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 20px;
                            }
                            .novelties__fees-money {
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 16px;
                            }
                            .novelties__fees-earn {
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
  
}


@media (max-width: 768px) {
    .novelties {
        .container {
            max-width: 660px;
        }

        .novelties__wrapper .novelties__wrapper-form .novelties__advertisement {
            font-size: 35px;
            font-weight: 900;
            line-height: 45px;
        }
        .novelties__wrapper .novelties__wrapper-form .novelties__subtitle {
            font-size: 17px;
            font-weight: 500;
            line-height: 1.4;
        }
    }
}


@media (max-width: 660px) {
    .novelties {
        padding-top: 17px;
        .container {
            max-width: 440px;
        }
        .novelties__wrapper .novelties__wrapper-item .novelties__fees .novelties__fees-item.odd {
            display: none;
        }
        .novelties__wrapper .novelties__wrapper-item .novelties__fees {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 34px;
        }
        .novelties__wrapper .novelties__all-new .novelties__text {
            display: none;
        }       
        .novelties__wrapper .novelties__all-new {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .novelties__wrapper .novelties__all-new .novelties__title {
            font-size: 32px;
            font-weight: 900;
            line-height: 41px;
        }
        .novelties__wrapper .novelties__films .novelties__films-item:nth-child(odd) {
            display: none;
        }
        .novelties__wrapper .novelties__wrapper-item .novelties__navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .novelties__wrapper .novelties__wrapper-item .novelties__navigation .novelties__nav {
            display: none;
        }
        .novelties__wrapper .novelties__wrapper-form .novelties__subscribe-btn {
            margin-top: 9px;
            min-width: 100%;
        }
        .novelties__wrapper .novelties__wrapper-form form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .novelties__wrapper .novelties__wrapper-form .novelties__advertisement {
            font-size: 25px;
            font-weight: 900;
            line-height: 32px;
        }
        .novelties__wrapper .novelties__wrapper-form .novelties__subtitle {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.4;
        }
    }
}


@media (max-width: 480px) {
    .novelties {
        .container {
            max-width: 360px;
        }
    }
    .novelties .novelties__wrapper .novelties__wrapper-item .novelties__navigation .novelties__title {
        font-size: 35px;
        font-weight: 900;
        line-height: 45px;
    }
    .novelties .novelties__wrapper .novelties__wrapper-item .novelties__fees {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .novelties .novelties__wrapper .novelties__wrapper-form .novelties__advertisement {
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
    }
    .novelties .novelties__wrapper .novelties__wrapper-form .novelties__subtitle {
        display: none;
    }
    .novelties .novelties__wrapper .novelties__wrapper-form .novelties__policy {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4;
    }
    .novelties .novelties__wrapper .novelties__wrapper-form .novelties__subscribe-btn {
        min-width: 200px;
    }
    .novelties .novelties__wrapper .novelties__wrapper-form .novelties__email {
        padding: 19px 14px 19px 14px;
    }
}