.person{
    .person__wrapper {
        .person__popular-person {
            .person__title {
                color: $white-50;
                font-size: 40px;
                font-weight: 900;
                line-height: 51px;
            }
        }
    }
}