.trailer {
    margin-top: 54px;

    .trailer__all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .trailer__title {
            font-size: 65px;
            font-weight: 900;
            line-height: 83px;
            color: $white-50;
        }
        .trailer__text {
            font-size: 22px;
            font-weight: 700;
            line-height: 27px;
            color: $white-50;
        }

    }

    .trailer__img-film {
        margin-top: 79px;
        position: relative;
        .trailer__img {
            border-radius: 11px;
        }
        .trailer__img-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .trailer__detail {
        margin-top: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .trailer__blocks {
        display: grid;
        grid-template-columns: 210px 180px;
        align-items: center;
        justify-items: center;
        column-gap: 34px;

        .trailer__social {
            display: flex;
            column-gap: 33px;
        }
    }

    .trailer__name {
        font-size: 45px;
        font-weight: 900;
        line-height: 57px;
        color: $white-50;
    }

    .trailer__rating {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;

        .trailer__like {
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;
            row-gap: 8px;

            .trailer__like-btn {
                width: 59px;
                height: 59px;
                border-radius: 10px;
                background-color: $blue-900;
                padding-bottom: 9px;
            }
        }

        .trailer__dislike {
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: center;
            row-gap: 8px;
            
            .trailer__dis-btn {
                width: 59px;
                height: 59px;
                border-radius: 10px;
                background-color: $blue-900;
                transform: rotate(180deg);
                padding-bottom: 8px;
            }
        }

        .trailer__text-rating {
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            color: $white-50;
        }
    }

    .trailer__slider {
        margin-top: 24px;
        background-color: $black-600;
        border-radius: 10px;
        width: 100%;
        height: 7px;

        .trailer__slider-touch {
            background-color: $blue-500;
            border-radius: 10px;
            width: 422px;
            height: 7px;
            margin-left: 77px;
        }
    }

    .trailer__films {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        column-gap: 20px;

        .trailer__item-film {
            display: grid;
            row-gap: 8px;
        }

        .trailer__name-img {
            font-size: 20px;
            font-weight: 900;
            line-height: 25px;
            color: $white-50;
        }

    
    }
    
}